@font-face {
  font-family: "Bookman";
  src: local("/public/fonts/Bookman/bookmanoldstyle.ttf") format("truetype");
}

body,
button,
input,
textarea {
  font-family: "Bookman";
  font-weight: 400;
  font-style: normal;
}
.bold {
  font-weight: 700;
}
.underline {
  text-decoration: underline;
}

.XXXL {
  font-size: 36px;
}
.XXL {
  font-size: 26px;
}
.XL {
  font-size: 24px;
}
.L {
  font-size: 22px;
}
.M {
  font-size: 16px;
}
.S {
  font-size: 13px;
}
.XS {
  font-size: 12px;
}
.XXS {
  font-size: 11px;
}

.primary {
  color: $primary;
}
.primary2 {
  color: $primary2;
}
.secondary {
  color: $secondary;
}
