// 1 - HELPERS
@import "./tailwind.css";
@import "./1-helpers/variables";
@import "./1-helpers/reset";
@import "./1-helpers/mixins";
@import "./1-helpers/placeholder";

// 2 - BASICS

@import "./2-basics/typography";
@import "./2-basics/buttons";

// 3 - LAYOUT
@import "./3-layouts/nav";
@import "./3-layouts/home";

body {
  background-color: $secondary;
}
