footer {
  width: 100%;
  background-color: $primary;
  margin-top: 100px;
  padding: 20px;
  @extend %flex-start-center;
  flex-flow: column;
  .footer-links {
    @extend %flex-between-center;
    flex-flow: column;
    height: 40px;
    margin-bottom: 20px;
  }
}
